<a href="{% url 'home' %}" class="text-purple-700 font-bold text-xl">BookTime</a>
<a href="{% url 'about_us' %}" class="block px-3 py-2 rounded-md text-sm font-medium 
  {% if request.path == '/about-us/' %}bg-purple-50 text-purple-700{% else %}text-gray-500 hover:bg-gray-100 hover:text-gray-700{% endif %}">
  About Us
</a>
<a href="{% url 'contact_us' %}" class="block px-3 py-2 rounded-md text-sm font-medium 
  {% if request.path == '/contact-us/' %}bg-purple-50 text-purple-700{% else %}text-gray-500 hover:bg-gray-100 hover:text-gray-700{% endif %}">
  Contact Us
</a>
<a href="{% url 'products' %}" class="block px-3 py-2 rounded-md text-sm font-medium 
  {% if request.path|startswith:"/products" %}bg-purple-50 text-purple-700{% else %}text-gray-500 hover:bg-gray-100 hover:text-gray-700{% endif %}">
  Products
</a>
<a href="{% url 'signup' %}" class="block px-3 py-2 rounded-md text-sm font-medium 
  {% if request.path == '/signup/' %}bg-purple-50 text-purple-700{% else %}text-gray-500 hover:bg-gray-100 hover:text-gray-700{% endif %}">
  Signup
</a>
<a href="{% url 'login' %}" class="block px-3 py-2 rounded-md text-sm font-medium 
  {% if request.path == '/login/' %}bg-purple-50 text-purple-700{% else %}text-gray-500 hover:bg-gray-100 hover:text-gray-700{% endif %}">
  Login
</a>
<a href="{% url 'address_list' %}" class="block px-3 py-2 rounded-md text-sm font-medium 
  {% if request.path|startswith:"/address" %}bg-purple-50 text-purple-700{% else %}text-gray-500 hover:bg-gray-100 hover:text-gray-700{% endif %}">
  Addresses
</a>
<a href="{% url 'basket' %}" class="block px-3 py-2 rounded-md text-sm font-medium 
  {% if request.path == '/basket/' %}bg-purple-50 text-purple-700{% else %}text-gray-500 hover:bg-gray-100 hover:text-gray-700{% endif %}">
  Basket
</a>
<a href="{% url 'chat_home' %}" class="block px-3 py-2 rounded-md text-sm font-medium 
  {% if request.path == '/chat/' %}bg-purple-50 text-purple-700{% else %}text-gray-500 hover:bg-gray-100 hover:text-gray-700{% endif %}">
  Chat
</a>
<a href="{% url 'notes_list' %}" class="block px-3 py-2 rounded-md text-sm font-medium 
  {% if request.path|startswith:"/note" %}bg-purple-50 text-purple-700{% else %}text-gray-500 hover:bg-gray-100 hover:text-gray-700{% endif %}">
  Notes
</a>
